{% extends "base.html" %}

{% block title %}PDF2Image{% endblock %}

{% block content %}
<h3>PDFs</h3>

<table>
    <tr>
        <th>
            Thumbnail
        </th>
        <th>
            Name
        </th>
        <th>
            PDF
        </th>
    </tr>
{% for obj in object_list %}
    <tr>
        <td>
            {{ obj.image }}
        </td>
        <td>
            {{ obj.name }}
        </td>
        <td>
            {{ obj.pdf }}
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %}