{% extends "base.html" %}

{% load static %}

{% block title %}PDF2Image{% endblock %}

{% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js" 
        integrity="sha256-0H3Nuz3aug3afVbUlsu12Puxva3CP4EhJtPExqs54Vg=" 
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.7.570/pdf.min.js" 
        integrity="sha512-g4FwCPWM/fZB1Eie86ZwKjOP+yBIxSBM/b2gQAiSVqCgkyvZ0XxYPDEcN2qqaKKEvK6a05+IPL1raO96RrhYDQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.7.570/pdf.worker.min.js" 
        integrity="sha512-QVzIOQH0mGpLAOwHfVSOGsVjh4UGon7+hQwoqIUHbTMvcyS76Ee3AUDep58mU2TvdkPgzZ4aQqxbZ0v2wsyvpA==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block content %}
<h3>PDFs</h3>

    <form>
    {% csrf_token %}
<table>
    <tr>
        <th>
            Thumbnail
        </th>
        <th>
            Name
        </th>
        <th>
            PDF
        </th>
    </tr>
{% for obj in object_list %}
    <tr>
        <td>
            <img src="{% if obj.image %}{{ obj.image.url }}{% endif %}">
            {% if not obj.image %}
            <button data-id="{{ obj.id }}" data-pdf-thumbnail-file="{{ obj.pdf.url }}" data-pdf-thumbnail-width="100">
                create thumbnail
            </button>
            {% endif %}
        </td>
        <td>
            {{ obj.name }}
        </td>
        <td>
            <a href="{{ obj.pdf.url }}">{{ obj.pdf }}</a>
        </td>
    </tr>
{% endfor %}
</table>
    </form>

<script src="{% static 'js/create_thumbnails.js' %}"></script>
{% endblock %}